<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bingo_Blitz.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Bingo_Blitz.My.MySettings>
            <setting name="numberOfGames" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="winningPot" serializeAs="String">
                <value>3.00</value>
            </setting>
            <setting name="jackpotSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoCallerSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoCallerSpeed" serializeAs="String">
                <value>Moderate</value>
            </setting>
            <setting name="jackpotPot" serializeAs="String">
                <value>15.00</value>
            </setting>
        </Bingo_Blitz.My.MySettings>
    </userSettings>
</configuration>